/*.app-container {
  position: relative;
}

.cookie-consent-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); *//* Semi-transparent background *//*
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; *//* Ensure it's above other content *//*
}

.limited-access {
  *//* Styles for limited access message *//*
}*/


.app-container {
  position: relative;
}

.cookie-consent-overlay {
  position: fixed;
  bottom: 1;
  left: 0;
/*  background-color: rgba(0, 0, 0, 0.5);*//**/
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.cookie-consent-overlay.visible {
  opacity: 1;
  visibility: visible;
}

.cookie-consent-overlay.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s 0.5s; /* Delay hiding */
}
